{% set route_name = app.request.attributes.get('_route') %}
<div class="container-fluid">
	<header class="d-flex justify-content-center py-3">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="{{ path('home_index') }}" class="nav-link {{ route_name == 'home_index' ? "active" : "" }}">Accueil</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('project_index') }}" class="nav-link {{ route_name == 'project_index' or route_name == 'project_show' ? "active" : "" }}">Réalisations</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('about_index') }}" class="nav-link {{ route_name == 'about_index' ? "active" : "" }}">À Propos</a>
			</li>
		</ul>
	</header>
</div>
